/*
    Document   : main
    Created on : 10.10.2012, 3:09:13
    Author     : Admin
    Description:
        Purpose of the stylesheet follows.
*/

.table th{
    text-align: center;
    background-color: #F9F9FF;
}

span.closetab{
    margin-left: 4px;
    margin-right: 4px;
}
